header {
  background-color: cadetblue;
}

button {
  color: white;
  background-color: grey;
  width: fit-content;
  margin: 10px;
}

#del {
  color: red;
}

.navigation {
  padding: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  align-items: center;
}

#usr {
  color: red;
}

#open {
  background-color: deepskyblue;
}

#progress {
  background-color: orange;
}

#done {
  background-color: greenyellow;
}

#card {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 1em;
  margin: 5px;
  background-color: white;
}

#buttons {
  display: flex;
  justify-content: right;
}

[hidden] {
  display:none !important;
}

#desc {
  font-weight: bold;
  font-size: larger;
}

#stat {
  font-style: italic;
  font-size: small;
}
