header {
  background-color: cadetblue;
}

button {
  color: white;
  background-color: grey;
  width: fit-content;
}

#del {
  color: red;
}

.navigation {
  padding: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
